*{
  --primeira_cor: #272727;
  --segunda_cor: #FFE5EC;
  --terceira_cor: #FFC2D1;
  --quarta_cor: #FFB3C6;
  --quinta_cor: #FF8FAB;
  --sexta_cor: #FB6F92;
  --setima_cor: #f2f3f4;
}
body{
  background-color: var(--segunda_cor);
}
.btn-init {
  background-color: var(--quinta_cor);
  color: var(--nona_cor);
}
.btn-init:hover {
  background-color: var(--sexta_cor);
}
.form-container{
  background-color: var(--terceira_cor);
  color: var(--nona_cor);
  border: solid 2px var(--primeira_cor);
}

.leaderboard-list {
  background-color: var(--quarta_cor);
  color: var(--primeira_cor);
}

.leaderboard-list:hover {
  background-color: var(--quinta_cor);
}

.quiz {
  background-color: var(--quinta_cor);
  color: var(--oitava_cor);
}

.pergunta {
  background-color: var(--segunda_cor);
 
}

.alternativas {
  color: var(--oitava_cor);
}

.quiz-btn {
  background-color: var(--quarta_cor);
  color: var(--primeira_cor);
  border: 2px solid var(--setima_cor);
}

.quiz-btn:hover {
  background-color: var(--sexta_cor);
  color: var(--primeira_cor);
}

.resultado {
  color: var(--oitava_cor);
}





