* {
    transition: all 0.3s;
}

.borderless {
    background-color: transparent;

    border: 0px;
}

.btn {
    font-size: 20px;
    border-radius: 10px;
}

header {
    margin-bottom: 50px;
}

.header-title {
    margin-top: 20px;
    font-size: 5rem;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.input-container {
    width: 80%;

    padding: 15px;
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 25px;
}

.input-box {
    padding: 8px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 50px;
    right: 50px;
}

.footer-btn {
    margin-bottom: 10px;
}

.footer-img {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.footer-img:hover {
    scale: 1.1;
}

.quiz-title-container {
    display: flex;
    justify-content: center;
}

.question-container {
    width: 70vw;

    margin: 10px;
    padding: 15px 25px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

.input-answer-container {
    padding: 5px;
    margin: 10px;
}

.div-answer {
    display: flex;
}

.div-answer > input {
    margin: 0 5px;
}

.div-answer label {
    margin-right: 15px;
    font-size: 25px;
}

.input-label {
    padding-left: 8px;
}

.timer {
    min-width: 200px;
    font-size: 25px;

    padding: 5px;
    border-radius: 8px;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 35px;
    right: 70px;
}

.quiz-btns {
    margin: 10px;
    padding: 5px;

    display: flex;
    justify-content: space-evenly;
}

.main-table-container {
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    width: 80vw;

    font-size: 30px;
}

tr {
    height: 20px;
}

th {
    width: 20%;
}

.all-leaderboards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-list-item {
    font-size: 30px;
}

.leaderboard-secundaria-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.leaderboard-secundaria {
    margin: 15px;
    padding: 20px;

    border-radius: 15px;
}

.medias-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
}

.span-medias {
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 100vw;
    }
    .header-title {
        margin-top: 12vh;
    }
    .form-div-container {
        width: 100%;
    }
    .input-container {
        width: 100%;
        padding: 15px 0;
    }
    .input-box {
        width: 100%;
    }
    .form-quiz {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question-container {
        width: 90%;
        margin: 12px 0;
    }
    .div-answer {
        border: solid 1px black;
        border-radius: 8px;
        margin: 6px 0;
    }
    .div-answer label {
        display: inline-block;
        font-size: 16px;
        align-items: center;
        line-height: 16px;
        padding: 6px 0;
    }
    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        margin-bottom: 10vh;
    }
    .main-table-container {
        width: 90vw;
        padding: 2% 0;
    }
    .main-table {
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
    .medias-container {
        width: 90vw;
    }
    .span-medias {
        font-size: 16px;
    }
    .leaderboard-secundaria-container {
        flex-direction: column;
    }
    .quiz-list-item {
        font-size: 16px;
    }
}
