* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primeira_cor: #272727;
    --segunda_cor: #FFE5EC;
    --terceira_cor: #FFC2D1;
    --quarta_cor: #FFB3C6;
    --quinta_cor: #FF8FAB;
    --sexta_cor: #FB6F92;
    --setima_cor: #f2f3f4;
}
body{
    background-color: var(--segunda_cor);
}
main .quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.btn-init {
    background-color: var(--quinta_cor);
    color: var(--nona_cor);
}
.btn-init:hover {
    background-color: var(--sexta_cor);
}
.form-container{
    margin-top: 8%;
    background-color: var(--terceira_cor);
    color: var(--nona_cor);
    width: 50vw;
    padding: 2%;
    border: solid 2px var(--primeira_cor);
    border-radius: 8px ;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 0;
    align-items: center;
}