* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
main .quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container{
    margin-top: 8%;
    width: 50vw;
    padding: 2%;
    border-radius: 8px ;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 0;
    align-items: center;
}